@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Pacifico&display=swap');

html, body {
  height: 100%;
}

body {
    grid-template-rows: auto;
    background-color: black;
     
  }
  
  .container{
    font-size: 18px;
    line-height: 17px;
 
  }
  
  section:first-child {
    background: #ededed;
    font-family: 'Kelly Slab', cursive;
  }
  
  section:last-child {
    font-family: 'Frank Ruhl Libre', serif;
  }


/*
  h1{
    
    font-size: 5em;
    letter-spacing: 12px;
    text-shadow: 2px 2px 2px #CCCCCC;
    text-shadow: -1px 0 0 #000000, 1px 1px 0 #000000,
             2px -1px 0 #000000, 3px 0 0 #000000;
    text-transform: uppercase; 
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px rgb(30, 32, 32), 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
    font-family: 'Special Elite', cursive;
    

}
*/

.food-mood{ /* MJ */
  font-size: 70px;
  float: left;
  font-family: 'Fugaz One';
  color: orangered !important;
}

.modal-title {
  color: black;
  font-family: 'Fugaz One';
  font-size: 22px;
}

.sounds-good{ /* MJ */
  /*float: left;*/
  font-family: 'Fugaz One';
  color: white;
  margin-right: 20px;
}

.cuisine-name { /* MJ */
  font-family: 'Pacifico';
  font-size: 200px;
  color: white;
}

#mapGoesHere {
  height: 500px;
}

.mapImage {
  cursor: pointer;
}

  #cuisine,
  .mr-3{
height:28px;
width:155px;
font-size: 16px;
padding:15px;
top: 0px;

  }
  #search{
width: 95px;
height:35px;
font-size: 16px;
margin-bottom: 5px;


  }

  .popupClose {
    background: orangered !important;
  }
  
  .container{
    margin-top:30px;
    padding-top: 10px;
    width:100%;

  }

  .jumbotron{
      position:fixed;
      top:0px;
 padding-left:25px;
 /*color:blue;*/
 left: 0px;
 height: 20%;
 width:100%;
 z-index: 11;
  }

  .nav{
 position:fixed;
 top:80px;
 right:200px;
 padding: 15px;
 z-index: 1;

  }
  /*.result{
  margin-top:150px;
  }*/

  #notFooter {
    min-height: 100%;
    margin-bottom: -106px;
  }

  .push {
    height: 106px;
}
  /* Carousel Start */

  .carousel-item, .img-fluid {
    width: 100%;
    height: 100%;
    /*height: 100vh;*/ /* vh = vertical height at 100%, fills out entire browser window */
  }

  /*}
  #myCarousel{
  height:50%;
  width:65%;
  margin-left:150px;
  margin-top:120px;
  }*/

  /* Carousel End */

footer {
  background-color: #000000 !important;
  height: 106px;
}

/* MJ [this taken out of below CSS so that the comment close here wouldn't interrupt that comment and activate some of the code*/
/*
  .footer { 
    position: fixed;
    left: 0;
    padding: 15px;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
    font-family: 'Fugaz One';
  }
  */

  h4, h5{
    color:black;
 }

 h6{
   color:rgb(114, 110, 110);
   font-size: 14px;
   
 }

h2{
   border-color:default __373c0__2oFDT;
    overflow:hidden; 
    color:red;
 font-size:22px;
}

 a{
  margin:50px;
  background-blend-mode: color;
 }


    .ratingText  {
      color:white;
      background-color:green;
            padding:5px 6px 5px 6px;
      float:right;
      font-size:16px;
      border-radius: 6px;
    
 
    }

  .resultText {
      font-size: 12px;
}

.rest-img{
      background-color:black;
      border-radius:15px;
      border-block-color: blue;
    }    

hr {
      
      border: 3px solid green !important;
      border-radius: 5px !important;

    }

@import url("https://prrashi.github.io/rateYo/bower_components/jquery-rateyo/min/jquery.rateyo.min.css");

  /* Responsive Media Settings */

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .container{
        font-size: 18px;
        line-height: 17px;
     
      }
      
      section:first-child {
        background: #ededed;
        font-family: 'Kelly Slab', cursive;
      }
      
      section:last-child {
        font-family: 'Frank Ruhl Libre', serif;
      }
    
    
    
      h1{
        
        font-size: 3em;
        letter-spacing: 12px;
        text-shadow: 2px 2px 2px #CCCCCC;
        text-shadow: -1px 0 0 #000000, 1px 1px 0 #000000,
                 2px -1px 0 #000000, 3px 0 0 #000000;
        text-transform: uppercase; 
        text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
                 0 0 20px rgb(30, 32, 32), 0 0 30px #A5F1FF,
                 0 0 40px #A5F1FF;
        font-family: 'Special Elite', cursive;
        
    
    }
    
      #cuisine,
      .mr-3{
    height:28px;
    width:150px;
    font-size: 16px;
    padding:15px;
   
      }
      #search{
    width:auto;
    height:auto;
    font-size: 16px;
    margin: 10px;
    
      }
      .container{
        margin-top:auto;
        width:auto;
    
      }
      .jumbotron{
          position:fixed;
          top:0px;
     padding-left:25px;
     /*color:blue;*/
     left: 0px;
     height:165px;
        width:100%;
        margin-bottom: 10%;
      }
    
      .nav{
     position:fixed;
     top:auto;
     right:auto;
     padding: 0px;
    
      }
      .result{
      margin:auto;
      float:left;
    
      }
      #myCarousel{
      height:50%;
      width:70%;
      margin:40% 0% 0% 15%;

      clear: both;
      }
    
      .footer {
        position: fixed;
        left: 0;
        padding: 15px;
        bottom: 0;
        background-color: brown;
        color: white;
        text-align: center;
        z-index: 1;
      }

      .ratingText  {
            padding:3px 6px 3px 6px;
              margin:25px;
          
                }
                 
          h5{
            color:black;
        }

        h6{
          color:rgb(114, 110, 110);
          font-size:auto;
          
        }

        h2{
          border-color:default __373c0__2oFDT;
            overflow:hidden; 
            color:red;
        font-size:auto;
        }
        h4{
        color:black;


        }
        /*#newSearch{

          float:right;
          margin:20px 0px 0px 355px;

        }*/
        a{
          margin:50px;
          background-blend-mode: color;
        }
        .rest-img{
          background-color:black;
          border-radius:15px;
          border-block-color: blue;
        }
      }