@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Pacifico&display=swap');

html, body {
  height: 100%;
}

body {
    grid-template-rows: auto;
    background-color: black;
  }
  
  .container{
    font-size: 18px;
    line-height: 17px;
  }

  .floatingDiv {
    position: relative;
  }
  
  section:first-child {
    background: #ededed;
    font-family: 'Kelly Slab', cursive;
  }
  
  section:last-child {
    font-family: 'Frank Ruhl Libre', serif;
  }

#food-mood{
  font-size: 70px;
  float: left;
  font-family: 'Fugaz One';
  color: orangered !important;
}

.modal-title {
  color: black;
  font-family: 'Fugaz One';
  font-size: 22px;
}

#sounds-good {
  font-family: 'Fugaz One';
  color: white;
  margin-right: 20px;
}

.cuisine-name {
  font-family: 'Pacifico';
  font-size: 200px;
  color: white;
}

#mapGoesHere {
  height: 500px;
}

.mapImage, .floatingDiv {
  cursor: pointer;
  width: 200px;
}

.mapRealImage, .floatingDiv {
  height: 200px;
}

  #cuisine,
  .mr-3{
height:28px;
width:155px;
font-size: 16px;
padding:15px;
top: 0px;

  }
  #search{
width: 95px;
height:35px;
font-size: 16px;
padding: 0 12px;
margin-bottom: 3.75px !important;
  }

  .popupClose {
    background: orangered !important;
  }
  
  .container{
    margin-top:30px;
    padding-top: 10px;
    width:100%;
  }

  #notFooter {
    min-height: 100%;
    margin-bottom: -106px;
  }

  .push {
    height: 106px;
}

  /* Carousel Start */

  .carouselImage {
    min-width: 100%;
  }

  .carousel-item, .img-fluid {
    width: 100%;
    height: 100%;
  }

  /* Carousel End */

footer {
  background-color: #000000 !important;
  height: 106px;
}

  h4, h5{
    color:black;
 }

 h6{
   color:rgb(114, 110, 110);
   font-size: 14px;
   
 }

h2 {
   border-color:default;
    overflow:hidden; 
    color:red;
 font-size:22px;
}

.menuPush {
  margin:50px;
  background-blend-mode: color;
 }


    .ratingText  {
      color:white;
      background-color:green;
            padding:5px 6px 5px 6px;
      float:right;
      font-size:16px;
      border-radius: 6px;
    
 
    }

  .resultText {
      font-size: 12px;
}

.rest-img{
      background-color:black;
      border-radius:15px;
    }    

hr {
      
      border: 3px solid green !important;
      border-radius: 5px !important;

    }

  /* Responsive Media Settings */

  /* The following is the beginning of an attempt to
  make deal with the space issues on very long
  viewports such as iPads and iPad pros:

  @media only screen and (min-height: 900px) {
    #headerArea {
      padding-top: 74px !important;
      padding-bottom: 58px !important;
      background: black;
    }
  } */

  @media only screen and (max-width: 1380px) {
    #food-mood {
      font-size: 60px;
      padding-bottom: 5px;
    }

    .cuisine-name {
      font-size: 180px !important;
    }
  }

  @media only screen and (max-width: 1325px) {
    #food-mood {
      font-size: 50px;
    }

    #sounds-good {
      font-size: 20px;
    }

    .cuisine-name {
      font-size: 150px !important;
    }
  }

  @media only screen and (max-width: 1230px) {
    #food-mood {
      margin-left: 50px !important;
      padding-left: 0 !important;
    }

    #allTheInputs {
      margin-right: 50px !important;
      padding-right: 0 !important;
    }

    .cuisine-name {
      font-size: 135px !important;
    }
  }

  @media only screen and (max-width: 1140px) {
    #food-mood {
      margin-left: 35px !important;
    }

    #allTheInputs {
      margin-right: 35px !important;
    }
  }

  @media only screen and (max-width: 1115px) {
    #food-mood {
      margin-left: 20px !important;
    }

    #allTheInputs {
      margin-right: 20px !important;
    }

    .cuisine-name {
      font-size: 120px !important;
    }
  }

  @media only screen and (max-width: 1080px) {
    #sounds-good {
      display: none !important;
    }
  }

  @media only screen and (max-width: 992px) {
    h2 {
      font-size: 24px !important;
    }

    h4 {
      font-size: 18px !important;
    }

    h6 {
      font-size: 12px !important;
    }

    .mapImage {
      width: 150px;
    }

    .mapInstruct {
      font-size: 12px !important;
    }

    .rest-img, .mapRealImage, .floatingDiv {
      height: 150px;
      width: 150px;
    }
  }

  @media only screen and (max-width: 830px) {
    #food-mood-div {
      margin: auto;
    }

    #food-mood {
      float: none !important;
      margin: 0 !important;
    }

    #allTheInputs {
      float: none !important;
      padding-top: 10px;
      padding-bottom: 18px;
      margin: auto !important;
    }

    #sounds-good {
      display: inline !important;
    }
  }

  @media only screen and (max-width: 775px) {
    #food-mood {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }

    #sounds-good {
      display: none !important;
    }

    .cuisine-name {
      font-size: 90px !important;
    }
  }

  @media only screen and (max-width: 575px) {
    h2, h4, h6 {
      margin-bottom: 4px !important;
    }

    #result {
      margin: 8px 0 !important;
    }
    
    h2 {
      font-size: 16px !important;
    }

    h4 {
      font-size: 12px !important;
    }

    h6 {
      font-size: 10px !important;
    }

    .ratingText {
      margin-bottom: 8px;
      font-size: 12px;
    }

    .resultText {
      font-size: 10px;
    }

    .mapInstruct {
      font-size: 8px !important;
      padding: 4px 0 !important;
    }

    a {
      font-size: 12px;
    }
    
    .mapImage {
      width: 106.98px;
    }

    .rest-img, .mapRealImage, .floatingDiv {
      height: 106.98px;
      width: 106.98px;
    }

    /* The following could be moved into the 410px media query if we
    decide to keep styling more consistent between viewports (prior
    to that, anyway -- beyond that point it looks even more awkward): */

    .hideThis {
      display: none;
    }

    h2 {
      margin-top: 8px !important;
    }
  }

  @media only screen and (max-width: 410px) {
    .mapImage {
      width: 97.5px;
    }

    .mapColumn {
      padding-left: 7.5px !important;
    }

    hr {
      margin: 12px 0 !important;
    }

    .rest-img, .mapRealImage, .floatingDiv {
      height: 97.5px;
      width: 97.5px;
    }
  }

  @media only screen and (max-width: 359px) {
    .mapColumn {
      padding-left: 0 !important;
    }

    .mapImage {
      width: 91.66px;
    }

    .rest-img, .mapRealImage, .floatingDiv {
      height: 91.66px;
      width: 91.66px;
    }

    .menuPush {
      margin-right: 0;
    }
  }

      @media only screen and (max-width: 480px) {
        .cuisine-name {
          font-size: 65px !important;
        }

        #address, #cuisine {
          margin-right: 8px !important;
          width: 127.5px;
        }

        #cuisine, #address {
          padding: 12.5px 7.5px;
        }

        #search {
          padding: 0 6px;
          height: 30px;
          width: 89px;
        }

        #mapGoesHere {
          height: 300px;
        }
      }

      @media only screen and (max-width: 380px) {
        .cuisine-name {
          font-size: 60px !important;
        }

        #address, #cuisine {
          width: 102.5px;
        }

        #address, #cuisine, #search {
          font-size: 14px;
        }

        #food-mood {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }

      @media only screen and (max-width: 355px) {
        .cuisine-name {
          font-size: 55px !important;
        }

        #address, #cuisine {
          width: 82.5px;
          font-size: 11.5px;
          padding: 10px 3px;
        }

        #search {
          margin-top: .3px !important;
          margin-bottom: 0 !important;
        }
      }